<!DOCTYPE html>
<html>
<head>
<title>W3.CSS Template</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/static/styles.css">
<!-- <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css"> -->
<style>
body {font-family: "Optima";}
h1, h2, h3, h4, h5, h6 {
  letter-spacing: 5px;
}
</style>
</head>
<body>



<!-- Page content -->
<div>

  <!-- About Section -->


    <div>
      <h1>Musi-Queue</h1><br>
      <h2>Make playlists with your friends!</h2>

      <a href="/about"><p>Click here to begin</p></a>
    
    </div>
  </div>
  
  <hr>
  
  